{% extends "base_template.html" %}
{% load webdesign %}

{% block extrahead %}
{% endblock %}

{% block body %}
<div class="container pagination-centered">
	<h2>History</h2>
	<table class="table table-condensed">
	<thead>
		<th>Completed</th>
		<th>Priority</th>
		<th>Task</th>
		<th>Estimated</th>
		<th>Actual</th>
	</thead>
	<tbody>
	{% for task in data reversed %}
	{% ifequal user.username task.user %}
	{% if task.completed %}
	<tr>
		<td>{{ task.done }}</td>
		<td>{{ task.priority }}</td>
		<td>{{ task.name }}</td>
		<td>{{ task.estimate }}</td>
		<td>{{ task.actual }}</td>
	</tr>
	{% endif %}
	{% endifequal %}
	{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}

