{% extends "base_template.html" %}
{% load staticfiles %}
{% load static %}

{% block body %}
<div class="container pagination-centered">
	<h2>Tasks</h2>
	<p><a href="{% url 'tasksNew' %}"><button class="btn btn-primary">Create New Task</button></p></a>

	<table class="table">
	<thead>
		<th>Priority</th>
		<th>Task</th>
		<th>Estimated</th>
		<th>Actual</th>
		<th>Completed</th>
	</thead>
	<tbody>
	{% for task in data %}
	<tr>
		<td>{{ task.priority }}</td>
		<td>{{ task.name }}</td>
		<td>{{ task.estimate }}</td>
		<td>{{ task.actual }}</td>
		<td>{{ task.completed }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

